<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Used Car Price Predictor Visuals</title>
</head>
<body>
    <div class="container">
        <nav id="nav-bar">
            <div class="nav-title">Used Car Price Predictor</div>
            <div class="nav-links">
                <a href="/">Home</a>
                <a href="/visuals">Visuals</a>
            </div>
        </nav>
        <div class="visual-content">
            <div class="grid">
                <div class="grid-item">
                    <h3>Odometer vs Price Regression Plot</h3>
                    <img src="../static/images/odo-price-regr.JPG" alt="odometer vs price regression plot">
                </div>
                <div class="grid-item">
                    <h3>Year vs Price Regression Plot</h3>
                    <img src="../static/images/year-price-regr.JPG" alt="year vs price regression plot">
                </div>
                <div class="grid-item">
                    <h3>Price Distribution</h3>
                    <img src="../static/images/price-dist.JPG" alt="price distribution">
                </div>
                <div class="grid-item">
                    <h3>Price by Manufacturer</h3>
                    <img src="../static/images/price-by-mfr.JPG" alt="price by manufacturer boxplot">
                </div>
                <div class="grid-item">
                    <h3>Heatmap</h3>
                    <img src="../static/images/heatmap.JPG" alt="heatmap of various independent variables and price">
                </div>
            </div>
        </div>
    </div>
</body>
</html>